.navbar-brand1{
  padding-top: 5px;
  padding-right: 5px;
}
.navbar-default{
  background-color:#A3E4D7  ;
}
.foto{
  margin-top:5px;
  margin-bottom:15px;
}
.card-body{
  padding-left: 55px;
}
.pagination{
padding-left: 35%;
}
.no-gutters{
  margin-top: 15px;
}
h3{
  padding-left: 9%;
  color: #1D8348;
}
.badge-secondary{
  background-color: #F1948A;
}
.imagen_fondo_oferta{
  padding-left: 7%;
}
.seccion_formulario{
  padding-left: 10%;
  padding-right: 10%;
}
